@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.fixed-height {
    height: 800px;
    overflow: auto;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.anchor{
    cursor: pointer;
}

a{
    text-decoration: none;
}